@import "./variables";
@import "./utils";

:root {
	overscroll-behavior: none;
}

* {
	font-style: unset;
	line-height: unset;
	font-size: unset;
	appearance: none;
	background-color: unset;
	font-family: "area-inktrap", sans-serif;
	color: $color--light;
	border: none;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style-type: none;
	flex-direction: column;

	@include media(null, sm) {
		font-size: 16px;
	}

	@include media(sm) {
		font-size: 17.3px;
	}
}

em,
i {
	font: inherit;
	font-style: italic;
}

h1,
h2 {
	font-family: "fraunces-variable", sans-serif;
}

h1 {
	font-variation-settings: "opsz" 144, "wght" 600, "SOFT" 0, "WONK" 1;
	font-size: $spacing--xxl;
	line-height: 95%;
}

h2 {
	text-wrap: balance;

	@include media(null, sm) {
		font-family: "area-inktrap", sans-serif;
		font-weight: 800;
		font-size: $spacing--sm;
	}
	@include media(sm) {
		font-variation-settings: "opsz" 144, "wght" 600, "SOFT" 0, "WONK" 0;
		font-size: $spacing--xl;
		line-height: 120%;
	}
}

p {
	font-size: $spacing--sm;
	line-height: 160%;

	// &.large {
	// 	font-size: $spacing--sm;
	// }
}

button {
	font-size: $spacing--xs;
	padding: $spacing--xxxs $spacing--xxs;
	box-sizing: border-box;
	background-color: $color--light;
	color: $color--dark;
	border-radius: $spacing--xxs;
	font-weight: bold;
	cursor: pointer;
	box-shadow: 0;
}

main {
	width: 100%;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: $color--dark;
	overscroll-behavior: contain;
}

.navigation__wrapper {
	list-style-type: none;
	grid-column: 2 / 3;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: $spacing--xs;
}

.navigation__dot {
	width: $spacing--xs;
	height: $spacing--xs;
	border-radius: 50%;
	border: 1px solid $color--light;
	cursor: pointer;

	&.active {
		background-color: $color--light;
	}
}

.grid--12 {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	column-gap: $spacing--xs;
}

.section {
	@extend .grid--12;
	scroll-snap-align: start;
	scroll-snap-stop: always;
	width: 100%;
	max-width: $breakpoint--xl;
}

.section.section--intro {
	// height: 66vh; -- this doesn't work on chrome
	min-height: max-content;
	grid-template-rows: repeat(3, 22vh);
	row-gap: $spacing--md;

	@include media(null, sm) {
		text-align: center;
	}

	h1 {
		grid-row: 2;
		align-self: end;

		@include media(null, sm) {
			grid-column: 2 / -2;
		}
		@include media(sm) {
			grid-column: 5 / -1;
		}
	}

	p {
		grid-row: 3;
		align-self: start;

		@include media(null, sm) {
			grid-column: 2 / -2;
		}
		@include media(sm) {
			grid-column: 5 / -5;
		}
	}
}

main {
	display: flex;
	flex-direction: column;
	row-gap: 0;
	height: 100vh;
	overflow-y: scroll;
	scroll-snap-type: y mandatory;
}

@keyframes fadeOut {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

.project {
	@extend .grid--12;

	min-height: 100vh;
	overflow-y: hidden;
	scroll-snap-align: start;
	position: relative;

	@include media(sm) {
		padding: $spacing--xl 0;
	}

	&.in-view {
		overflow-y: scroll;
	}

	&.isPaused {
		.video__wrapper video {
			opacity: 0.5;
		}
	}

	@include media(null, sm) {
		.video__wrapper,
		.text__wrapper {
			grid-column: 1 / -1;
			grid-row: 1;
		}
	}

	.video__wrapper {
		position: relative;

		@include media(null, sm) {
			align-self: start;
			grid-column: 1 / -1;
			position: relative;
			max-height: 100%;
			overflow: hidden;
		}

		@include media(sm) {
			.video-overflow {
				display: none !important;
			}
		}
	}

	.text__wrapper {
		@include media(null, sm) {
			position: relative;
			row-gap: 0;
			padding: 25% $spacing--lg $spacing--lg;
			background: linear-gradient(
				to bottom,
				#{$color--dark}00 0%,
				#{$color--dark}aa 33%
			);
			align-self: end;

			&:not(.showFullText) {
				padding-top: $spacing--sm;

				overflow: hidden;
				box-sizing: border-box;
				p {
					mask-image: linear-gradient(
						to bottom,
						#{$color--dark} 50%,
						#{$color--dark}00
					);
					height: 3.33rem;
				}
			}
		}
	}

	.action-indicator {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		z-index: 10;
		pointer-events: none;

		img {
			display: block;
			width: 6.66rem !important;
			height: 6.66rem !important;
			animation: fadeOut 1s forwards ease-in-out;
		}
	}

	&.project--landscape {
		@include media(null, sm) {
			.video__wrapper {
				display: flex;
				flex-direction: column;
				gap: $spacing--xs;
				padding-top: $spacing--sm;
				align-items: center;

				video {
					width: 100%;
					aspect-ratio: 1 / 1;
					object-fit: cover;
				}

				.video-overflow {
					display: none;
				}
			}
		}

		@include media(sm) {
			row-gap: $spacing--lg;

			.video__wrapper,
			.text__wrapper {
				display: flex;
				flex-direction: column;
			}

			.video__wrapper {
				row-gap: $spacing--xs;

				grid-column: 2 / -2;
				align-self: end;
				align-items: center;

				img,
				video {
					object-fit: cover;
					display: block;
					width: 100%;
				}
			}

			.text__wrapper {
				row-gap: $spacing--sm;

				align-self: start;
				grid-column: 4 / -4;
			}
		}
	}

	&.project--portrait {
		@include media(sm) {
			align-items: center;
		}

		.video__wrapper {
			align-items: center;
			cursor: pointer;

			@include media(null, sm) {
				.button {
					position: absolute;
					z-index: 1;
					top: $spacing--xs;
					left: 50%;
					transform: translateX(-50%);
				}
			}

			@include media(sm) {
				display: flex;
				flex-direction: column;
				row-gap: $spacing--xs;
				grid-column: 2 / 6;
			}

			img,
			video {
				object-fit: cover;
				display: block;
				width: 100%;
			}

			.video-overflow {
				@include media(sm) {
					// display: none !important;
				}
				object-position: bottom;
				transform: rotateX(180deg);
			}
		}

		.text__wrapper {
			display: flex;
			flex-direction: column;

			@include media(sm) {
				grid-column: 7 / -2;
				row-gap: $spacing--sm;
			}
		}
	}
}
